.modal {

    .modal-header {
        border-bottom: 2px solid $primary;
        .display-4 {
            font-size: 1.5rem;
            font-weight: 300;
        }

        .close {
            outline: none;
        }
    }

    .modal-body {
        background: $background-gradiant;
        color: $text-base-color;
        font-family: 'Roboto Condensed', sans-serif;

        .highlight {
            color: $primary;
            font-family: $default-font-family;
        }

        .modalCompletedSign {
            color: $primary;
            margin-top: 4px;
        }

        .heading {
            font-family: $default-font-family;
            margin-bottom: 30px;
        }

        .question {
            padding: 1rem 3rem;
            margin-bottom: 4rem;
        }

        .options {
            background-color: #ebebeb;
            padding: 20px 40px;
            margin-bottom: 20px;
            color: #000000;
            cursor: pointer;
        }

        .options{
            @media screen and (min-width: 768px){
                &:hover {
                    background-color: $hover-color;
                    padding: 1.25rem 2.5rem;
                    margin-bottom: 20px;
                    color: $text-base-color;
                }
            }
        }

        .correct {
            background-color: #009A3E!important;
            color: $text-base-color;
        }

        .wrong {
            background-color: #dc3545!important;
            color: $text-base-color;
        }

    }

    .modal-footer {
        border-top: 2px solid $primary;
        font-family: $default-font-family;
    }

}

@media (max-width: 992px) {
    .modal {

        .modal-body {

            .question {
                padding: 0.5rem 0rem;
                margin-bottom: 2rem;
            }

        }

    }
    .card {
        margin-bottom: 30px;
    }
}


#scoresModal {
    .scoresArea {
        background-color: #f8f9fa;
        font-family: 'Lato', sans-serif;
        padding: 10px 40px;
        margin-bottom: 20px;
        color: #000000;
        border-radius: 0.3rem;
    }
    
    
    .modal-body {
        .btn-outline-warning {
            text-transform: capitalize;
            font-family: $default-font-family;
            font-weight: bolder;
            @include flexCenter();
        }
        table {
            th {
                border-top:0;
                font-size: 1.2rem;
                font-family: $default-font-family;
            }
        }
    }
    
    

}

